#warning {display:none;}

@media only screen and (orientation:portrait){
    #warning {display: block;}
    #wrapper {display: none;}
}

@media only screen and (orientation:landscape){
    #warning {display: none;}
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
